body {
    padding-top: 0px;
    background-color: #f8f9fa;
}

.custom-navbar {
    background-color: #91c1ee; /* Soft pastel blue */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    color: #007bff;
}

.nav-link {
    color: #495057;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007bff;
}

.btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}

.dropdown-menu {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-item:hover {
    background-color: #E6F3FF;
}